@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
$color-primary: #1c2e60;

.navbar {
  display: block;
  .navbar-brand {
    font-weight: bold;
  }
  .navbar-nav {
    .active {
      font-weight: bold;
    }
  }
  a {
    display: inline-block;
    color: $color-primary !important;
  }
}

.jumbotron {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;

  .title {
    width: 100%;
    h1 {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-size: 40px;
      font-weight: 900;
      color: $color-primary !important;
    }
  }
  .tagline {
    display: flex;
    justify-content: center;
    margin: auto;
    h2 {
      span {
        display: inline-block;
        font-weight: bold;
        color: #142658;
      }
    }
  }
  .animate-navigate {
    width: 100%;
    height: 150px;
    padding-top: 100px;
    box-sizing: border-box;
    font-size: 50px;
    opacity: 0.2;
  }
  .image-animate {
    width: 50%;
    height: 500px;
    // background-color: red;

    img {
      border-top-left-radius: 80px;
      width: 50%;
      height: 500px;
    }
  }
}

.tentang {
  color: $color-primary;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  h1 {
    font-weight: bold;
    margin-bottom: 50px;
  }
  p {
    order: 2;
  }
  #map {
    width: 50%;
    height: 350px;
    order: 1;
    border-radius: 30px;
  }
  .info {
    order: 3;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      border: none;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      margin: auto;
      .text {
        margin-left: 30px;
        h3 {
          font-weight: bold;
          font-size: 40px;
          margin-bottom: -30px;
        }
        span {
          display: inline-block;
          font-weight: 500;
          margin-left: 5px;
        }
      }
    }
  }
}

.agenda {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  .card {
    margin-top: 10px;
    width: 32%;
    height: auto;
  }
}

.mentor {
  margin-bottom: 100px;
  .card-animate {
    .card {
      height: auto;
      border: none;
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .jumbotron {
    .title {
      width: 100%;
      height: 250px;
    }
    .tagline {
      margin-top: 50px;
      padding: 5px;
      h2 {
        font-size: 30px;
      }
    }
    .animate-navigate {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      // padding-top: 100px;
      box-sizing: border-box;
      font-size: 50px;
      opacity: 0.2;
    }
    .image-animate {
      display: none;
    }
  }
  .tentang {
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 400px;
    display: block;
    p {
      margin-top: 10px;
    }
    #map {
      margin-top: 30px;
      width: 100%;
      height: 250px;
      margin-bottom: 50px;
    }
    .info {
      width: 100%;
      .card {
        border-radius: 10px;
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.37);
        width: 100%;
        height: 150px;
        justify-content: center;
        margin-top: 10px;
        padding-left: 10px;
        border: none;
        img {
          margin-top: 10px;
        }
        .text {
          width: auto;
          height: auto;
          h3 {
            font-weight: bold;
            font-size: 45px;
            margin-bottom: -20px;
          }
          span {
            display: inline-block;
            font-weight: 500;
            font-size: 20px;
          }
        }
      }
    }
  }
  .agenda {
    color: $color-primary;
    display: block;
    h2 {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .card {
      margin-bottom: 50px;
      width: 100%;
      .card-header {
        background-color: orange;
      }
    }
  }
  .mentor {
    color: $color-primary;
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 30px;
    }
    .card {
      .card-body {
        h5 {
          font-weight: bold;
        }
      }
    }
  }
}
