@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: block;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav .active {
  font-weight: bold;
}

.navbar a {
  display: inline-block;
  color: #1c2e60 !important;
}

.jumbotron {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.jumbotron .title {
  width: 100%;
}

.jumbotron .title h1 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 900;
  color: #1c2e60 !important;
}

.jumbotron .tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.jumbotron .tagline h2 span {
  display: inline-block;
  font-weight: bold;
  color: #142658;
}

.jumbotron .animate-navigate {
  width: 100%;
  height: 150px;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50px;
  opacity: 0.2;
}

.jumbotron .image-animate {
  width: 50%;
  height: 500px;
}

.jumbotron .image-animate img {
  border-top-left-radius: 80px;
  width: 50%;
  height: 500px;
}

.tentang {
  color: #1c2e60;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.tentang h1 {
  font-weight: bold;
  margin-bottom: 50px;
}

.tentang p {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.tentang #map {
  width: 50%;
  height: 350px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 30px;
}

.tentang .info {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tentang .info .card {
  border: none;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.tentang .info .card .text {
  margin-left: 30px;
}

.tentang .info .card .text h3 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: -30px;
}

.tentang .info .card .text span {
  display: inline-block;
  font-weight: 500;
  margin-left: 5px;
}

.agenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.agenda .card {
  margin-top: 10px;
  width: 32%;
  height: auto;
}

@media (max-width: 768px) {
  .jumbotron .title {
    width: 100%;
    height: 250px;
  }
  .jumbotron .tagline {
    margin-top: 50px;
    padding: 5px;
  }
  .jumbotron .tagline h2 {
    font-size: 30px;
  }
  .jumbotron .animate-navigate {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 50px;
    opacity: 0.2;
  }
  .jumbotron .image-animate {
    display: none;
  }
  .tentang {
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 400px;
    display: block;
  }
  .tentang p {
    margin-top: 10px;
  }
  .tentang #map {
    margin-top: 30px;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }
  .tentang .info {
    width: 100%;
  }
  .tentang .info .card {
    border-radius: 10px;
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.37);
            box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding-left: 10px;
    border: none;
  }
  .tentang .info .card img {
    margin-top: 10px;
  }
  .tentang .info .card .text {
    width: auto;
    height: auto;
  }
  .tentang .info .card .text h3 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: -20px;
  }
  .tentang .info .card .text span {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
  }
  .agenda {
    color: #1c2e60;
  }
  .agenda h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .agenda .card {
    margin-bottom: 50px;
  }
  .agenda .card .card-header {
    background-color: orange;
  }
}
/*# sourceMappingURL=style.css.map */